header{
    background-color: #2E4F4F;
}

#LogoGym{
    height: 80px;
    width: 80px;
}

#barra{
    background-color: #2E4F4F;
    width: 100%;
}

#NombreGym{
    font-family: Sono, sans-serif;
    padding-left: 1%;
}

#Enlaces{
    font-family: Ubuntu, sans-serif;
}

.IconoEnlaces{
    margin-right: 10px;
}

.IconoEnlaces:hover{
    color: #0E8388;
    transform: rotate(-25deg);
}

#Características{
    padding-top: 6%;
    padding-bottom: 4%;
    background-color: #0E8388;
    align-items: center;
}

#CabeceraCaracterísticas{
    padding-top: 2%;
    padding-bottom: 2%;
    font-family: Ubuntu, sans-serif;
}

#Cartas{
    padding-right: 10%;
    padding-left: 15%;
}

.SombraCartas{
    box-shadow: 10px 10px 1px black;
}

#ImgCard1{
    height: 213px;
}

#ImgCard2{
    height: 213px;
}

#ImgCard3{
    height: 213px;
}

.card-body{
    background-color: #2C3333;
}

.card-text{
    color: white;
    font-family: Ubuntu, sans-serif;
}

#Carrusel{
    background-color: #CBE4DE;
    padding-top: 2%;
    text-align: center;
    padding-bottom: 2%;
}

#CabeceraCarrusel{
    padding-bottom: 2%;
    font-family: Ubuntu, sans-serif;
}

h4{
    font-family: Ubuntu, sans-serif;
}

.ImgCarrusel{
    margin-left: 400px;
    height: 432px;
}

.SubtitulosCarrusel{
    background-color: #CBE4DE;
    color: black;
    opacity: 80%;
}

#SectionMapa{
    background-color: #0E8388;
    padding-top: 2%;
    padding-bottom: 2%;
}

#CabeceraMapa{
    font-family: Ubuntu, sans-serif;
    padding-bottom: 2%;
}

#SimboloMapa{
    color: #2C3333;
    padding-left: 10px;
}

#Mapa{
    display: block;
    margin: 0 auto;
}

#Planes{
    background-color: #2C3333;
    padding-top: 2%;
}

#CabeceraPlanes{
    font-family: Ubuntu, sans-serif;
    color: white;
}

#TextoPlanes{
    font-family: Ubuntu, sans-serif;
    color: white;
    padding-bottom: 2%;
}

.FondoPlanes{
    background-color: white;
}

.TituloPlanes{
    font-family: Ubuntu, sans-serif;
    font-weight: 800;
}

.TextoCartasPlanes{
    font-family: Ubuntu, sans-serif;
    color: black;
}

.BotonPlanes{
    box-shadow: 0 0 5px #0E8388, 0 0 25px #0E8388;
}

.BotonPlanes:hover{
    box-shadow: 0 0 5px #0E8388,
    0 0 25px #0E8388, 0 0 50px #0E8388,
    0 0 75px #0E8388;
}

#BotonPlan1{
    background-color: #0E8388;
    border-color: #0E8388;
}

#BotonPlan2{
    background-color: #0E8388;
    border-color: #0E8388;
}

#BotonPlan3{
    background-color: #0E8388;
    border-color: #0E8388;
}

#BotonPlan4{
    background-color: #0E8388;
    border-color: #0E8388;
}

.ImgPlanes{
    height: 200px;
}
